
.contenedor{
padding-top: 100px;
display: flex;
flex-direction: column; /* Para alinear verticalmente */
justify-content: center; /* Centrar verticalmente */
align-items: center; /* Centrar horizontalmente */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.contenedor {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: center;
}

strong {
    font-weight: bold;
    color: #222;
}

